%% vim: set filetype=erlang : -*- erlang -*-

{erl_opts, [
            debug_info,
            warnings_as_errors,
            {d, a}
           ]}.
{ct_opts, [{dir, "ct"}]}.

{deps, [
        {bbmustache, "1.1.0"},
        {erlware_commons, {git, "git://github.com/erlware/erlware_commons", {branch, "master"}}},
        {relx, {git, "git://github.com/erlware/relx", {branch, "master"}}}
       ]}.

{xref_checks,[
              undefined_function_calls,
              undefined_functions,
              locals_not_used,
              deprecated_function_calls,
              deprecated_functions
             ]}.

{provider_hooks, [{post, [{compile, auto_app}]}]}.

{auto_app, [
            {root_app, spam}
           ]}.

{relx, [{release, {spam,
    "20160402.063630" %% relflow-release-version-marker
       }, [spam]},
        {dev_mode, false},
        {include_erts, false},
        {extended_start_script, true}
       ]}.

%{ct_readable, false}.

{project_app_dirs,
 [
  "sub/*"
 ]}.

{dist_node, [{sname, 'eunit'}]}.

{plugins,
 [
  rebar3_raw_deps,
  {relflow, "1.0.4"},
  rebar3_auto_applications
 ]}.

%% {overrides,
%%  [
%%   {add, [
%%          {plugins, [rebar_raw_deps]},
%%          {provider_hooks, [{pre, [{app_compile, raw}]}]}
%%         ]}
%%  ]}.
