%% vim: set filetype=erlang : -*- erlang -*-

{erl_opts, [
            debug_info,
            warnings_as_errors
           ]}.
{ct_opts, [{dir, "ct"}]}.

{deps, [
        {bbmustache, "1.1.0"},
        {relx, {git, "git://github.com/erlware/relx", {branch, "master"}}}
       ]}.

{xref_checks,[
              undefined_function_calls,
              undefined_functions,
              locals_not_used,
              deprecated_function_calls,
              deprecated_functions
             ]}.

%{post_hooks, [{compile, "./rebar3 auto_app_src generate"}]}.
{provider_hooks, [{pre, [{compile, raw}]}]}.

{relx, [{release, {spam,
    "20160401.174917" %% relflow-release-version-marker
       }, [spam]},
        {dev_mode, false},
        {include_erts, false},
        {extended_start_script, true}]}.

%{ct_readable, false}.


{plugins,
 [
  rebar3_raw_deps,
  {relflow, "1.0.4"},
  {rebar_applications_plugin, ".*", {git, "git://github.com/soranoba/rebar_applications_plugin", {branch, "master"}}}
 ]}.

%% {overrides,
%%  [
%%   {add, [
%%          {plugins, [rebar_raw_deps]},
%%          {provider_hooks, [{pre, [{app_compile, raw}]}]}
%%         ]}
%%  ]}.
